<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chart Fragments</title>
</head>
<body>
    <div th:fragment="LINE_CHART">
        <table id="chart_data" class="table">
            <tr>
                <th>mint_ts</th><th>value</th>
            </tr>
            <tr th:each="p : ${prints}">
                <td th:text="${p.jsFormattedMintTs}">some ts goes here</td>
                <td th:text="${p.value}">23</td>
            </tr>
        </table>
    </div>
    <div th:fragment="CANDLESTICK_CHART">
        <table id="chart_data" class="table">
            <tr>
                <th>open_ts</th><th>open</th><th>high</th><th>low</th><th>close</th>
            </tr>
            <tr th:each="p : ${prints}">
                <td th:text="${p.jsFormattedOpenTs}">some ts goes here</td>
                <td th:text="${p.low}">23</td>
                <td th:text="${p.open}">23</td>
                <td th:text="${p.close}">23</td>
                <td th:text="${p.high}">23</td>
            </tr>
        </table>
    </div>
</body>
</html>