<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${statName}">Statistic Name Goes Here</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/statistic.css" th:href="@{/css/statistic.css}"/>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="../../js/stats.js" th:src="@{/js/stats.js}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>

<body>
<div class="container">
    <div th:insert="~{common/header::navigation}">Nav Bar Goes Here</div>

    <h1 th:text="${stat.prettyName}"></h1>
    <table class="table">
        <th>Host</th>
        <tr th:each="h : ${hosts}">
            <td><a th:text="${h}" th:href="@{/statistic/{stat}/{host}/(stat=${stat.statName},host=${h})}">somehostname</a></td>
        </tr>
    </table>
</div>
</body>

</html>