<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Statistic</title>
</head>
<body>
<form method="post">
    <input type="text" name="stat_name">
    <select name="stat_type">
        <option th:each="v : ${typeValues}" th:value="${v.name()}" th:text="${v.name()}" value="float">float</option>
    </select>
    <select name="visualization_type">
        <option th:each="v : ${vizValues}" th:value="${v.name()}" th:text="${v.name()}" value="float">float</option>
    </select>
    <input type="submit">
</form>
</body>
</html>