<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<div class="container">
    <div th:replace="~{common/header::navigation}">Nav Bar Goes Here</div>
    <div class="row">
        <div class="col-md-12">
        <table class="table stat-listing">
            <tr>
                <th>Stat Name</th><th>Data Type</th><th>Viz Type</th><th>Host-Specific</th>
            </tr>
            <tr th:each="p : ${stats}">
                <td><a th:text="${p.prettyName}" th:href="'/statistic/' + ${p.statName}"></a></td>
                <td th:text="${p.statType}">float</td>
                <td th:text="${p.vizType}">candlestick</td>
                <td th:text="${p.hostSpecific}">true</td>
            </tr>
        </table>
        </div>
    </div>
</div>
</body>
</html>