<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Collector Health</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/health.css" th:href="@{/css/health.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>

<body>
<div class="container">
    <div th:replace="~{common/header::navigation}">Nav Bar Goes Here</div>

    <div class="row">
        <h1>Collector Health</h1>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4"><h2>Database</h2></div>
                <div class="col-md-2">
                    <p th:switch="${isConnectedToDatabase}">
                        <span th:case="true" class="badge badge-success">Connected</span>
                        <span th:case="false" class="badge badge-danger">Connected</span>
                    </p>
                </div>
            </div>

            <table class="table">
                <thead><tr><th>Statistic</th><th>Value</th></td></tr></thead>
                <tr><td>Pending Writes</td><td th:text="${pendingWrites}">3</td></tr>
                <tr><td>Total Writes</td><td th:text="${totalDbWrites}">6456</td></tr>
            </table>
        </div>

        <div class="col-md-6">
            <h2>Emitters</h2>
            <table class="table">
                <thead><tr>
                    <th>Name</th><th>Last Heartbeat</th><th>Connected</th>
                </tr></thead>
                <tr th:each="e : ${liveEmitters}">
                    <td th:text="${e.hostname}">example01.josh.cafe</td>
                    <td th:text="${e.lastHeartbeat}">Recently-ish</td>
                    <td>Yes</td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>

</html>